{% extends 'TFIDFapp/base.html' %}
{% block content %}


<div align="center">
  <p>Укажите номер документа, по очереди загрузки, для которого необходимо посчитать term frequency. Т.е. если вы загрузили 5 файлов, то укажите цифру от 1 до 5.</p>
</div>

<p></p>

<div align="center">
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="stat-btn" class="btn">Показать таблицу</button>
  </form>
</div>

<div align="right">
    <a href="{% url 'add_file' %}">Добавить файл</a>
</div>

<p></p>
{% endblock content %}